* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.titolo {
    font-family: "Edu Tas Beginner", sans-serif; /*font richiesto */
    background-image: url("./assets_day1/img/wall.png");
    background-size: cover;  /* prende tutto lo spazio*/
    background-position: center;

    text-align: center;
    /* Aggiunge spazio interno: 40px sopra e sotto, 20px a destra e sinistra */
    padding: 40px 20px;
}

/* Sfondo del main */
.sfondo_sughero {
    background-image: url("../assets_day1/img/cork.png");
    background-repeat: repeat;
    min-height: 100vh;
    padding: 50px 20px;
}